<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648773336207-rn21jd1q8cbdm3tgftjhv4rp4a964p9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648773336207-rn21jd1q8cbdm3tgftjhv4rp4a964p9i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>648773336207-mhtcnfu9iqsco2gev5ale6pi07sbr7ug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsOh0RwdmTETwUhATQLJzl6AerUcL_y8A</string>
	<key>GCM_SENDER_ID</key>
	<string>648773336207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.securibit</string>
	<key>PROJECT_ID</key>
	<string>totp-auth-website</string>
	<key>STORAGE_BUCKET</key>
	<string>totp-auth-website.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648773336207:ios:4fd257c3f0355a7832c4fa</string>
</dict>
</plist>